body {
    font-family: "Lato",sans-serif;
    font-size: 22px;
  }
  @font-face {
    font-family: Cocogoose-light;
    src: url(./assets/fonts/Cocogoose\ Pro\ Semilight-trial.ttf);
  }
  @font-face {
    font-family: Cocogoose;
    src: url(./assets/fonts/Cocogoose\ Pro\ Italic-trial.ttf);
  }
  
  @font-face {
    font-family: Cocogoose-200;
    src: url(./assets/fonts/Cocogoose\ Pro\ Italic-trial.ttf);
  }
  .jumbotron {
    background: linear-gradient(to top, rgba(145, 145, 145, 0.8), rgba(201, 198, 198, 0.8)), url(./assets/free.jpg) center no-repeat;
    background-size: cover;
    height: 100%;
  }
  .text-bg {
    background: linear-gradient(#e9301bc6, #eb6e08a8), url(./assets/free.jpg) no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-position: to
  }
  
  .top-nav {
    background-color: #3e3e3e;
  }
 
  .icon-div {
    font-size: 30px;
    margin-left: 25px;
    color: black;
  }
  
  .first-div {
    display: block;
    flex-direction: column;
    text-align: center;
    margin-top: 50px;
  }
  .first-div h5 {
      font-family: "Cogogoose";
      font-size: 18px;
  }
  
  .first-div h1 {
      font-family: "Cocogoose";
    color: #a70102;
    font-size: 30px;
  }
  
  .text-div {
    color: #f34518
  }
  .logo-div {
      border-bottom: 3pxpx solid black;
      border-bottom: 20px;
      padding-bottom: 20px;
  }

  .logo-div h3 {
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
  }
  .logo-div p {
      font-size: 11px;
      color: #646464;
      font-family: "Cocogoose-light";
      text-align: center;
      justify-content: center;
  }
  
  .second-div {
      font-family: "Cocogoose-light";
    margin: 10px 0;
    font-size: 15px;
    color: #5d5d5d;
    margin-left: 250px;
  }

  .hr1 {
      background-color: #f34518;
      width: 40px;
  }
  
  .time-div {
    margin: 30px;
    font-size: 16px;
    text-align: center;
    color: #ec5242;
    padding-bottom: 10px;
  }

  .img-div {
      text-align: center;
      border:1px solid #f34518;
  }

  .past-div h4 {
    font-size: 18px;
    text-align: center;
  }
  .past-logo p {
      text-align: center;
      margin-left: 20px;
      font-size: 20px;
      color: #f34518 ;
  }

  .past-logo {
      text-align: center;
  }
  .past-logo img {
    background: linear-gradient(#e9301bc6, #eb6e08a8);
  }

.footer-div {
    background-color: #414246;
}

.imag-div {
margin: 20px;
}
.ibadan {
  position: absolute; 
  			left: 0; 
  			right: 0; 
        z-index: 9999; 
        background-color: azure;
        margin-left: 20px; 
        justify-content: center;
        margin-top: 20px;
  			margin-right: 20px; 
}

.place {
  			left: 0; 
  			right: 0px; 
        z-index: 1; 
        display: block;
  			background-image: url('assets/concert2.jpg'); 
  			width: 100%; 
        height: 800px; 
        margin: 20px;
}

  .footer-div h3 {
 text-align: center;
 color: rgb(250, 249, 248);
 font-size: 14px;
 margin-top: 20px;
  }

  .sponsors {
      margin-top: 40px;
  }

  .footer {
    background-color: #414246;
  }
  @media (max-width: 768px) {
    
  }
