body {
  font-family: "Lato", sans-serif;
}

/* @font-face {
  font-family: Cocogoose-light;
  src: url(./assets/fonts/Cocogoose Pro Semilight-trial.ttf);
}

@font-face {
  font-family: Cocogoose;
  src: url(./assets/fonts/Cocogoose-Pro-Italic-trial.ttf);
}

@font-face {
  font-family: Cocogoose-200;
  src: url(./assets/fonts/Cocogoose\ Pro\ Italic-trial.ttf);
} */

.jumbotron {
  background: linear-gradient(to top, rgba(94, 92, 92, 0.8), rgba(201, 198, 198, 0.8)), url(./assets/free.jpg) center no-repeat;
  background-size: cover;
  height: 100%;
}

.text-bg {
  background: linear-gradient(#e9301bc6, #eb6e08a8), url(./assets/free.jpg) no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 100%;
}

.top-nav {
  background-color: #3e3e3e;
}

.bot-div {
  height: 60px;
  width: 60px;
}

.font-div {
  font-size: 30px;
  margin-left: 30px;
}

.hr2 {
  margin-top: 40px;
  background-color: #f34518;
}

.icon-div {
  font-size: 50px;
  margin-left: 25px;
  margin-bottom: 20px;
  color: white;
}

.first-div {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  width: 100%;
}

.first-div h1 {
  font-family: "Cocogoose", sans-serif;
  color: #f34518;
  font-size: 10px;
}

.text-div {
  font-family: "Cocogoose-200", sans-serif;
  font-weight: lighter;
  color: #f34518;
}

.second-div {
  font-family: "Cocogoose-light", sans-serif;
  margin: 10px 0;
  font-size: 15px;
  color: #5d5d5d;
}

.time-div {
  margin: 30px;
  font-size: 22px;
  color: #5e5e5e;
  padding-bottom: 70px;
  margin-left: 100px;
}

.date-div {
  font-size: 30px;
  font-weight: bolder;
}

.time-div time {
  font-size: 22px;
}

.time-div address {
  font-size: 17px;
}

.cards .card {
  background-color: rgba(255, 255, 255, 0.061);
}

.main-div {
  background-image: url(./assets/metal-pattern.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hr1 {
  width: 40px;
  background-color: #ff3640;
}

.main-program {
  display: flex;
  margin: 40px;
}

.main-program p {
  font-family: "Cocogoose-light", sans-serif;
  font-weight: lighter;
  font-size: 13px;
  color: #f3f4f6;
}

.main-program h3 {
  font-size: 18px;
  text-align: center;
  justify-content: center;
  color: #fc4b3d;
}

.program-div {
  display: flex;
  justify-content: center;
  margin: 15px;
}

.form-submit {
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: bold;
  font-family: "Roboto Condensed", sans-serif;
  background-color: #f61602;
  border: none;
}

.submit-div {
  display: flex;
  justify-content: center;
  height: 90px;
  margin-bottom: 30px;
}

.special-div {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin: 15px;
}

.band-div {
  display: block;
  margin-left: 30px;
}

.img-div {
  height: 100px;
  align-content: center;
  margin-top: 30px;
}

.featured-div h2 {
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  color: #3e3d44;
}

.p-div {
  color: #fc4b3d;
  font-size: 13px;
}

.p2-div {
  font-size: 13px;
}

.grid {
  display: grid;
  grid-template-columns: 2fr 2fr;
}

.title-div {
  line-height: 10px;
  height: 30px;
}

.footer-div {
  background-color: #414246;
}

@media (max-width: 768px) {
  .main-div h3 {
    text-align: center;
    color: #f3f3f3;
    font-size: 17px;
  }

  .first-div h1 {
    font-size: 50px;
  }

  .main-program p {
    margin-left: 40px;
  }

  .first-div {
    margin-left: 10px;
  }

  .grid {
    display: block;
  }
}

@media (min-width: 768px) {
  .first-div h1 {
    font-size: 100px;
  }
}
