@font-face {
    font-family: Cocogoose;
    src: url(./assets/fonts/Cocogoose\ Pro\ Light-trial.ttf);
}
.ticket-div {
text-align: center;
}
.main-div {
    align-items: center;
    justify-content: center;
}

.hr1 {
    width: 30px;
}
.seat-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 30px;
    align-content: center;
    border: 1px solid;
    border-radius: 20px;
}
.seat-div h5 {
    color: #f34518;
    font-size: 14px ;
}
.seat-div p {
    font-size: 11px;
}
